@media (max-width: 1300px) {}

@media (max-width: 1199px) {
    .topbar_menu_right .header-tools>div a {
        color: #FFF;
    }
    .topbar_menu_right ul li:first-child, .topbar_menu_right ul li:last-child {
        display: none;
    }
    .topbar_menu_right ul li::after {
        display: none;
    }
}

@media (max-width: 991px) {}


@media (max-width: 767px) {
    .iti {
        width: 100%;
    }
    .iti .iti__country-list {
        top: 70px;
        width: auto;
        right: 60px;
    }
}

@media (max-width: 568px) {}

@media (max-width: 480px) {}